* {
    font-family: arial;
  }
  
  .banner {
    display: grid;
    /* gap: 16px; */
    align-items: center;
    background-color: #F1F3FF;

  }

  .judul {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    line-height: 54px;
    margin: 0px 0px 16px;
  }
  
  .deskripsi { 
    color: #000000;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5
  }
  
  .mobil > img {
    
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  .banner button {
    color: #eaeaea;
    font-size: 14px;
    border: 1px solid;
    background-color: #5cb85f;
    font-weight: 700;
    line-height: 1.5;
    padding: 8px 12px;
  }

  /* potrait small device */
  @media only screen and (max-width:575px){
    .text{
      font-size: 16px;
    }
    .banner {
      grid-template-columns: 1fr;
    }
  }
  
  /* landscape small device and up*/
  @media only screen and (min-width:576px){
    .text{
      font-size: 16px;
    }
    .banner {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
  /* tablets and up*/
  @media only screen and (min-width:768px){
    .text{
      font-size: 20px;
    }
  }
  /* desktop small and up*/
  @media only screen and (min-width:992px){
    .text{
      font-size: 16px;
    }
    .gridtext{
      margin-left: 50px;
    }
    .banner {
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }
  }
  /* desktop med and up*/
  @media only screen and (min-width:1200px){
    .text{
      font-size: 16px;
    }
  }
  /* desktop high and up*/
  @media only screen and (min-width:1400px){
    .text{
      font-size: 16px;
    }
  }
  
  